html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    font-family: 'Montserrat';
    background-color: rgb(7 7 9);
    margin: 0;
}

/* HEADER Start */
  #header-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(7, 7, 9, 0.904);
    width: 100%;
  }

  #header-logo {
    color: white;
    font-size: 125%;
  }

  #header-logo img {
    height: auto;
    width: 80px;
    vertical-align: middle;
    margin: 5px;
  }

  navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 150%
  }

  navbar a {
    text-decoration: none;
    color: white;
  }

  navbar a:hover {
    background: -webkit-linear-gradient(135deg, #fcdf11, #ff623f, #fe2085);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  navbar ul {
    display: flex;
    text-align: center;
    margin: 0;
    gap: 100px;
  }

  navbar li {
    list-style-type: none;
    display: inline;
  }
/* HEADER End */
/* WELCOME Start */

#welcome {
  height: 85vh;
}

#welcome-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  height: 45px;
  width: 380px;
  margin: 190px auto 60px auto;
  padding-left: 10px;
  padding-right: 10px; 
  color: rgb(201, 190, 201);
  background-color: rgba(0, 0, 0, 0);
  background-image: radial-gradient(at 50% 80%, #55525349, rgba(255, 255, 255, 0));
  border: solid 0.1px;
  border-radius: 30px 0px;
  transform: translateX(500%); /* Start off-screen */
  animation: slide-in 1s ease forwards;
}

#welcome p {
  background: -webkit-linear-gradient(135deg, #fe2085, #ff623f, #fcdf11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 300%;
  font-weight: 900;
  color: white;
  transform: translateX(-500%); /* Start off-screen */
  animation: slide-in 1s ease forwards;
}

#welcome-header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 300%;
  color: white;
}

#welcome-header2 p {
  margin: 0;
  background: -webkit-linear-gradient(135deg, #214, #ff623f, #249 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#welcome-hr {
  margin-top: 40px;
  width: 30%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#welcome-header3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  width: fit-content;
  font-size: 150%;
  color: white;
  transform: translateY(500%); /* Start off-screen */
  animation: slide-in 1s ease forwards;
}

#welcome-header3 p {
  margin: 0;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 25px;
}

#welcome-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#welcome-photo img {
  transform: translateY(-500%); /* Start off-screen */
  animation: slide-in 1s ease forwards;
}

@keyframes slide-in {
  to {
      transform: translateX(0); /* Move to the center */
  }
}
/* WELCOME End */


/* PROJECTS Start */

#projects {
  height: 100vh;
}

#projects-header {
  text-align: center;
  color: white;
  margin-top: 8em;
}

#projects-hr {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#projects-container a {
  text-decoration: none;
}

.project-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: rgba(0, 0, 0, 0);
  background-image: radial-gradient(at 50% 80%, rgba(0, 225, 244, 0.15), rgba(255, 255, 255, 0));
  border: outset rgba(0,0,0,0.5);
  box-shadow: 4px 4px 8px #fe2085;
  border-radius: 20px;
  border-style: solid;
}

.project-box img {
  border-radius: 20px 20px 0px 0px;
  vertical-align: middle;
}

.project-box h3 {
  text-align: center;
  font-size: 200%;
  margin-bottom: 15px;
  margin-top: 15px;
  background: -webkit-linear-gradient(135deg, #fe2085, #ff623f, #fcdf11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.project-box:hover {
  background-color: rgba(105, 105, 105, 0.295);
}
/* PROJECTS End */


/* CONTACT Start */
#contact {
  height: 100vh;
}
/* CONTACT End */











/* BEGIN Fade In */
#welcome-header2 {
    animation: fadeIn 9s; 
    -webkit-animation: fadeIn 9s;
    -moz-animation: fadeIn 9s;
    -o-animation: fadeIn 9s;
    -ms-animation: fadeIn 9s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} 
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} 
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} 
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* End Fade In */


/* BEGIN Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1921px) {
  .project-box {
    width: 500px;
  }
  }
/* END Media Queries */